@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  touch-action: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
  max-width: 100%;
  @media (max-width: 1200px) {
    font-size: 15px; /* уменьшаем для больших экраzнов */
  }

  @media (max-width: 992px) {
    font-size: 14px; /* уменьшаем для планшетов */
  }

  @media (max-width: 768px) {
    font-size: 12px; /* уменьшаем для маленьких экранов */
  }
}

body {
  background: #fff;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.container{
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet-active {
  background-color: darkred !important;
}


