.projects{
  margin-top: 60px;
  position: relative;

  &::before{
    content: '';
    background: #fefaf6;
    position: absolute;
    top: -10%;
    width: 300%;
    height: 120%;
    left: -50%;
    z-index: -1;
  }

  .projectsTitle{
    font-size: 2rem;
    font-weight: 500;
  }

  .projectsSubtitle{
    font-size: 1.25rem;
  }

  .projectItems{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .projectItem{
      width: 30%;
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      box-shadow: 8px 8px 16px #e0e0e0, -8px -8px 16px #fff;

      img{
        filter: brightness(.6);
        cursor: pointer;
        transition: all .4s ease;
      }

      &:hover{
        img{
          filter: brightness(.4);
        }
      }

      .projectItemText{
        position: absolute;
        top: 0;
        padding: 20px;

        .projectItemTitle{
          font-size: 1.25rem;
          color: white;
        }
      }
    }
  }
}